/*==== ESTILOS DE CONTACTO ====*/

#div-contacto {
    text-align: center;
}

#div-contacto div.row div {
    padding: 10px;
}

#div-contacto a {
    text-decoration: none;
}

#div-contacto a span {
    transition: 0.5s;
    color: #000;
}

#div-contacto p {
    text-align: center;
}

.div-medios i {
    transition: 0.5s;
    margin-top: 20px;
    font-size: 70px;
    color: var(--colorVino);
}

#div-contacto a:hover .div-medios {
    transition: 0.5s;
    border-radius: 15px;
    background-color: var(--colorVino);
}

#div-contacto a:hover .div-medios p,
#div-contacto a:hover .div-medios span,
#div-contacto a:hover .div-medios i {
    transition: 0.5s;
    color: var(--colorBlanco);
}

div iframe {
    width: 95%;
    height: 40vh;
    border: none;
    border-radius: 15px;
}
                    /*==== FIN DE ESTILOS DE CONTACTO ====*/