            /*==== ESTILOS GENERALES ====*/
:root {
    --colorVino: #55020A;
    --colorCarne: #E99F5F;
    --colorBlanco: #fff;
    --fondoBlanco: rgba(240, 240, 240, 0.85);
    --fondoVino: rgba(85, 2, 10, 0.95);
    --sombraNegra: rgba(0,0,0,0.5);
    --sombraCarne: rgba(233,159,95,0.9);
    --fuenteTitulos: 'Staatliches', cursive;
    --fuenteSubTitulos: 'Open Sans Condensed', sans-serif;
    --fuenteTextos: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

.noScroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: var(--colorCarne);
}

body p, body li {
    margin: 0px 0px 0px 0px;
    font-family: var(--fuenteTextos);
    font-size: 24px;
    font-weight: bolder;
    text-align: justify;
    color: black;
}

.contenedor {
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--colorVino);
    padding-top: 2%;
    padding-bottom: 0.5%;
    color: var(--colorBlanco);
    box-shadow: 0px 2px 16px 10px var(--sombraNegra);
}

.contenedor-blanco {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: var(--colorBlanco);
    box-shadow: 0px 2px 16px 2px var(--sombraNegra);
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.btn-centrado {
    display: flex;
    justify-content: center;
}

button.boton {
    transition: all 0.2s;
    padding: 10px 15px;
    margin: 20px 0;
    background-color: transparent;
    width: fit-content;
    border-radius: 5px;
    border: 2px solid var(--colorVino);
    font-family: var(--fuenteTitulos);
    color: var(--colorVino);
}

button.boton:hover {
    background-color: var(--colorVino);
    color: var(--colorBlanco);
}

main {
    transition: all 0.2s;
    padding-top: 15px;
    padding-bottom: 15px;
}

main.active, header.active, footer.active {
    transition: .5s;
    filter: blur(4px);
}

h1.main-title { 
    font-family: var(--fuenteTitulos);
    color: var(--colorVino);
    font-size: 58px;
    text-align: center;
    text-shadow: 2px 2px var(--sombraNegra);
}

h2.sub-title { 
    font-family: var(--fuenteSubTitulos);
    color: var(--colorVino);
    font-size: 42px;
    text-shadow: 2px 2px var(--sombraNegra);
    text-align: center;
    font-weight: bolder;
}
                /*==== FIN DE ESTILOS GENERALES ====*/



                /*==== ESTILOS DEL HEADER ====*/
header#headerInicio {
    transition: all 0.5s;
    padding: 0;
    height: fit-content;
}

header div#header-pagina {
    padding: 15px 30px;
}

header div nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0;
}

a#logo-header {
    text-decoration: none;
}

div#header-logo-dr {
    display: flex;
    justify-content: center;
    text-align: center;
}

div#header-logo-dr span {
    text-decoration: none;
    color: var(--colorBlanco);
    font-family: var(--fuenteSubTitulos);
    font-weight: bolder;
    font-size: 22px;
}

h2.logo {
    font-size: 42px;
    font-family: var(--fuenteTitulos);
    text-shadow: 2px 2px var(--sombraCarne);
    color: var(--colorBlanco);
    margin-bottom: 0;
}

div#menu-nav {
    z-index: 2;
    padding: 0;
    display: flex;
    align-items: center;
}

div#menu-nav ul {
    padding: 0;
    margin: 0;
}

div#menu-nav ul li {
    display: inline-flex;
    justify-content: space-around;
    margin: 0 15px;
}

div#menu-nav a {
    transition: all 0.5s;
    height: fit-content;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--fuenteTextos);
    font-weight: bold;
    text-decoration: none;
    color: var(--colorBlanco);
}

div#menu-nav a:hover, div#menu-nav a.activo{
    background-color: var(--colorCarne);
    color: var(--colorVino);
}

header div nav button {
    display: none;
}

@media (max-width: 767px) {

    div#menu-nav {
        position: fixed;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: var(--colorVino);
        top: 0;
        right: -100%;
        transition: all 0.5s;
        background: var(--fondoVino);
        backdrop-filter: blur(2px);
    }

    div#menu-nav.show {
        right: 0;
    }

    div#menu-nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        text-align: center;
    }

    header div nav button {
        position: static;
        display: inline;
        width: fit-content;
        height: fit-content;
        background: none;
        padding: 10px;
        border: 2px solid var(--colorBlanco);
        border-radius: 10px;
        z-index: 4;
    }

    header div nav button i {
        font-size: 25px;
        color: var(--colorBlanco);
    }
    
}
                /*==== FIN DE ESTILOS DEL HEADER ====*/

                

                    /*==== ESTILOS DEL FOOTER ====*/
footer {
    z-index: 1;
}
footer#page-footer {
    transition: 1s;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}

footer#page-footer p {
    font-family: var(--fuenteTitulos);
    color: white;
    font-weight: normal;
    text-align: center;
}
                    /*==== FIN DE ESTILOS DEL FOOTER ====*/