                /*==== ESTILOS DE CITAS ====*/
#main-citas {
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-citas {
    width: 100%;
    height: fit-content;
    padding: 15px;
}

#div-citas div {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#div-citas span {
    font-size: 22px;
    font-family: var(--fuenteTextos);
}

#div-citas input, div#div-citas select {
    border: 2px solid var(--colorVino);
    border-radius: 5px;
    width: fit-content;
    font-size: 20px;
    text-align: center;
}
#div-citas select {
    width: fit-content;
}

#div-citas button {
    margin-top: 50px;
}

#mapa-consultorio iframe {
    border-radius: 10px;
    width: 100%;
    height: 60vh;
    border: 0;
}

@media (max-width: 767px) {
    .container-citas {
        margin-bottom: 20px;
    }
}
                    /*==== FIN DE ESTILOS DE CITAS ====*/