                    /*==== ESTILOS DEL LOGIN ====*/
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background: var(--fondoBlanco);
    box-shadow: 6px 6px 8px var(--sombraNegra);
    backdrop-filter: blur(1px);
    border-radius: 5px;
    width: 60vh;
    height: fit-content;
    padding: 20px;
}

#inicio-sesion {
    text-align: center;
}

#img-user {
    width: 110px;
    height: 110px;
    margin: 20px auto;
    border: 8px solid var(--colorVino);
    box-shadow: 2px 2px 2px var(--sombraNegra);
    border-radius: 100%;
}

#img-user i {
    line-height: 90px;
    color: var(--colorVino);
    font-size: 60px;
}

#form-login {
    margin-top: 25px;
}

#form-login label{
    display: block;
    margin: 10px;
}

#form-login input {
    width: 100%;
    background: transparent;
    border: 2px solid var(--colorVino);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: var(--fuenteTextos);
}

@media (max-width: 575px) {

    .main-container {
        width: 90%;
        max-width: 400px;
    }

}
                /*==== FIN DE ESTILOS DEL LOGIN ====*/


                /*==== ESTILOS DEL SISTEMA ====*/
.btn-delete {
    width: fit-content;
    padding: 0.5rem;
    background-color: var(--colorVino);
    color: var(--colorBlanco);
    border-radius: 0.5rem;
}

.main-menu {
    width: 100%;
    height: 100%;
    margin: 2rem 0;
}

.main-menu *{
    display: block;
}

.top-menu {
    margin-bottom: 2rem;
}

.option-menu, .citas_div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-opcion {
    display: flex;
    justify-content: center;
    width: 33%;
    max-width: 420px;
}

.opcion-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 19em;
    padding: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    text-align: center;
    background-size: cover;
}

.opcion-container:hover {
    text-decoration: none;
}

.opcion-container i {
    margin: 1rem;
    color: var(--colorVino);
    font-size: 6rem;
}

#consulta {
    background-image: url(../img/consulta_cover.jpg);
}
#expediente {
    background-image: url(../img/expediente_cover.jpg);
}
#citas {
    background-image: url(../img/citas_cover.jpg);
}

/*Estilo del popup de configuracion de usuario*/
#popup-config {
    z-index: 4;
    transition: all 0.2s;
    position: fixed;
    border-radius: 1rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 55%;
    height: 85vh;
    max-height: 85%;
    overflow-y: scroll;
    background: var(--fondoBlanco);
    box-shadow: 2px 2px 2px var(--sombraNegra);
    padding: 0;
    visibility: hidden;
    opacity: 0;
}

.boton-cerrar {
    top: 2%;
    left: 2%;
    position: absolute;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    background: none;
    text-decoration: none;
    color: var(--colorVino);
    font-size: 2rem;
    align-content: center;
}

#popup-config.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
}

.div-config {
    margin-top: 3rem;
    padding: 0 3rem;
    position: absolute;
    width: 100%;
    height: 100%;
}

#agregar-user, #lista-user {
    transition: all 0.2s;
    opacity: 0;
    transform: translate(100%,0);
}

#agregar-user.active, #lista-user.active {
    opacity: 1;
    transform: translate(0,0);
}

.div_user, .div_cita {
    width: fit-content;
    border-radius: 0.5rem;
    background-color: var(--colorCarne);
    padding: 1rem;
}

.div_user li, .div_cita li {
    list-style: none;
    font-size: 1.2rem;
    text-align: center;
}

#form-user {
    width: 50%;
    margin: 0 auto;
}

#form-user label {
    display: block;
    text-align: center;
}

#form-user span {
    font-size: 18px;
    font-weight: bolder;
    font-family: var(--fuenteTextos);
}

#form-user input {
    transition: all 0.2s;
    border: 2px solid var(--colorVino);
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

#form-user input:focus {
    color: var(--colorBlanco);
    background-color: var(--colorVino);
}

@media (max-width: 767px) {
    .section-opcion {
        width: 50%;
        margin-bottom: 1rem;
    }
}
@media (max-width: 575px) {
    .section-opcion {
        width: 100%;
        min-width: 340px;
    }
}
                /*==== FIN DE ESTILOS DEL SISTEMA ====*/

                 /*==== ESTILOS DE CITAS DEL SISTEMA ====*/               
.div_cita {
    background-color: var(--colorBlanco);
}

                /*==== FIN DE ESTILOS DE CITAS DEL SISTEMA ====*/