                    /*==== ESTILOS DEL LOGIN ====*/
.all-display {
    height: 95vh;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-container {
    background: var(--fondoBlanco);
    box-shadow: 6px 6px 8px var(--sombraNegra);
    backdrop-filter: blur(1px);
    border-radius: 5px;
    width: 30vw;
    height: fit-content;
    padding: 20px;
}

#inicio-sesion {
    margin: 0.5rem 0;
    text-align: center;
}

#img-user {
    width: 110px;
    height: 110px;
    margin: 20px auto;
    border: 8px solid var(--colorVino);
    box-shadow: 2px 2px 2px var(--sombraNegra);
    border-radius: 100%;
}

#img-user i {
    line-height: 90px;
    color: var(--colorVino);
    font-size: 60px;
}

#form-login {
    margin-top: 25px;
}

#form-login label{
    display: block;
    margin: 10px;
}

#form-login input {
    width: 100%;
    background: transparent;
    border: 2px solid var(--colorVino);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: var(--fuenteTextos);
}

@media (max-width: 575px) {

    .main-container {
        width: 90%;
        max-width: 400px;
    }

}
                /*==== FIN DE ESTILOS DEL LOGIN ====*/


                /*==== ESTILOS DEL SISTEMA ====*/
#title-section {
    width: 100%;
    order: 1;
}
#menu-section {
    width: 100%;
    order: 2;
}
.btn-delete {
    width: fit-content;
    padding: 0.5rem;
    background-color: var(--colorVino);
    color: var(--colorBlanco);
    border-radius: 0.5rem;
}

.option-menu {
    width: 100%;
}

.option-menu, .citas_div, .section_user {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-opcion {
    display: flex;
    justify-content: center;
    width: 33%;
    max-width: 420px;
    border-radius: .5rem;
}

.opcion-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 19em;
    padding: 1rem;
    margin: .5rem;
    text-align: center;
    background-size: cover;
}

.opcion-container:hover {
    text-decoration: none;
}

.opcion-container i {
    margin: 1rem;
    color: var(--colorVino);
    font-size: 6rem;
}

#consulta {
    background-image: url(../img/consulta_cover.jpg);
    order: 1;
    width: 25%;
}
#expediente {
    background-image: url(../img/expediente_cover.jpg);
    order: 2;
    width: 25%;
}
#citas {
    background-image: url(../img/citas_cover.jpg);
    order: 3;
    width: 25%;
}
#boton-config {
    order: 4;
    width: 25%;
}

/*Estilo del popup de configuracion de usuario*/
.popup-system {
    z-index: 4;
    transition: all 0.2s;
    position: fixed;
    border-radius: 1rem;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 55%;
    height: 85vh;
    max-height: 85%;
    overflow-y: scroll;
    background: var(--fondoBlanco);
    box-shadow: 2px 2px 2px var(--sombraNegra);
    padding: 0;
    visibility: hidden;
    opacity: 0;
}

.boton-cerrar {
    top: 2%;
    left: 2%;
    position: absolute;
    border: none;
    width: fit-content;
    height: fit-content;
    padding: 0;
    background: none;
    text-decoration: none;
    color: var(--colorVino);
    font-size: 2rem;
    align-content: center;
}

.popup-system.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
}

.div-config {
    margin-top: 3rem;
    padding: 0 3rem;
    position: absolute;
    width: 100%;
    height: 100%;
}

#agregar-user, #lista-user {
    transition: all 0.2s;
    opacity: 0;
    transform: translate(100%,0);
}

#agregar-user.active, #lista-user.active {
    opacity: 1;
    transform: translate(0,0);
}

.div_user, .div_cita {
    width: fit-content;
    border-radius: 0.5rem;
    background-color: var(--colorCarne);
    padding: 1rem;
    margin-bottom: 1rem;
}

.div_user li, .div_cita li {
    list-style: none;
    font-size: 1rem;
    text-align: center;
}

#form-user, #form-exp {
    width: 60%;
    margin: 0 auto;
}

#form-user label, #form-exp label {
    display: block;
    text-align: center;
}

#form-user span, #form-exp span {
    font-size: 1rem;
    font-weight: bolder;
    font-family: var(--fuenteTextos);
}

#form-user input, #form-exp input, 
#form-user select, #form-exp select {
    transition: all 0.2s;
    border: 2px solid var(--colorVino);
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    font-size: 18px;
    text-align: center;
}

#form-user input:focus, #form-exp input:focus, 
#form-user select:focus, #form-exp select:focus {
    color: var(--colorBlanco);
    background-color: var(--colorVino);
}

@media (max-width: 767px) {
    .section-opcion {
        width: 50%;
        margin-bottom: 1rem;
    }
}
@media (max-width: 575px) {

    .popup-system {
        width: 90%;
    }

    #form-user, #form-exp {
        width: 100%;
    }

    .section-opcion {
        width: 100%;
        min-width: 340px;
    }
}
                /*==== FIN DE ESTILOS DEL SISTEMA ====*/

                 /*==== ESTILOS DE CITAS DEL SISTEMA ====*/               
.citas_div {
    margin: 3.5rem;
}
.div_cita {
    background-color: var(--colorBlanco);
}
.alert_message {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.alert_message div {
    width: 100%;
}
.alert_message p {
    padding: 0 2rem;
    font-size: 4rem;
    text-align: center;
}
.alert_message img {
    width: 40%;
    margin: 0 auto;
}
                /*==== FIN DE ESTILOS DE CITAS DEL SISTEMA ====*/



                /*==== ESTILOS DE EXPEDIENTES ====*/
.main-expedientes {
    width: 100%;
    height: 100%;
    padding: 3rem;
}

.tabla-expedientes {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
}

.tabla-expedientes th {
    padding: 0.5rem 0;
    background-color: var(--colorVino);
    color: var(--colorBlanco);
}

.tabla-expedientes td {
    padding: 1rem 0;
    background-color: var(--colorBlanco);
}

.tabla-expedientes tr {
    border: 2px solid var(--colorVino);
}

h3.tipo-info-title {
    text-align: center;
    font-family: var(--fuenteTextos);
    font-weight: bolder;
}

#form-exp div {
    margin: 1rem 0;
}

                /*==== FIN DE ESTILOS DE EXPEDIENTES ====*/