                    /*==== ESTILOS DEL LOGIN ====*/
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background: var(--fondoBlanco);
    box-shadow: 6px 6px 8px var(--sombraNegra);
    backdrop-filter: blur(1px);
    border-radius: 5px;
    width: 60vh;
    height: fit-content;
    padding: 20px;
}

#inicio-sesion {
    text-align: center;
}

#img-user {
    width: 110px;
    height: 110px;
    margin: 20px auto;
    border: 8px solid var(--colorVino);
    box-shadow: 2px 2px 2px var(--sombraNegra);
    border-radius: 100%;
}

#img-user i {
    line-height: 90px;
    color: var(--colorVino);
    font-size: 60px;
}

#form-login {
    margin-top: 25px;
}

#form-login label{
    display: block;
    margin: 10px;
}

#form-login input {
    width: 100%;
    background: transparent;
    border: 2px solid var(--colorVino);
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-family: var(--fuenteTextos);
}

@media (max-width: 575px) {

    .main-container {
        width: 90%;
        max-width: 400px;
    }

}
                /*==== FIN DE ESTILOS DEL LOGIN ====*/


                /*==== ESTILOS DEL SISTEMA ====*/
.main-menu {
    width: 100%;
    height: 100%;
    margin: 2rem 0;
}

.main-menu *{
    display: block;
}

.top-menu {
    margin-bottom: 2rem;
}

.option-menu, .citas_div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.section-opcion {
    display: flex;
    justify-content: center;
    width: 33%;
    max-width: 420px;
}

.opcion-container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 19em;
    padding: 1rem;
    margin: .5rem;
    border-radius: .5rem;
    text-align: center;
    background-size: cover;
}

.opcion-container:hover {
    text-decoration: none;
}

.opcion-container i {
    margin: 1rem;
    color: var(--colorVino);
    font-size: 6rem;
}

#consulta {
    background-image: url(../img/consulta_cover.jpg);
}
#expediente {
    background-image: url(../img/expediente_cover.jpg);
}
#citas {
    background-image: url(../img/citas_cover.jpg);
}

@media (max-width: 767px) {
    .section-opcion {
        width: 50%;
        margin-bottom: 1rem;
    }
}
@media (max-width: 575px) {
    .section-opcion {
        width: 100%;
        min-width: 340px;
    }
}
                /*==== FIN DE ESTILOS DEL SISTEMA ====*/


                /*==== ESTILOS DE CITAS ====*/
.section_cita {
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    width: 25%;
}
.div_cita {
    background-color: var(--fondoBlanco);
    width: 100%;
    height: 90%;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
}
.div_cita * {
    margin: auto 0;
    text-align: center;
    font-size: 1rem;
}

@media (max-width: 991px) {
    .section_cita {
        width: 33%;
    }
}
@media (max-width: 767px) {
    .section_cita {
        width: 50%;
    }
}
@media (max-width: 422px) {
    .section_cita {
        width: 100%;
    }
}
                /*==== FIN DE ESTILOS DE CITAS ====*/